<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.like.thirdpartyloginandshare">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <queries>
        <package android:name="com.instagram.android" />
        <package android:name="com.tencent.mm" />
        <package android:name="com.tencent.mobileqq" />
        <package android:name="com.tencent.wework" />
        <package android:name="com.qzone" />
        <package android:name="com.sina.weibo" />
        <package android:name="com.alibaba.android.rimet" />
        <package android:name="com.eg.android.AlipayGphone" />
        <package android:name="com.donews.renren.android" />
        <package android:name="com.douban.frodo" />
        <package android:name="com.youdao.note" />
        <package android:name="im.yixin" />
        <package android:name="com.yinxiang" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.linkedin.android" />
    </queries>

</manifest>
